*{
    margin: 100;
    padding: 25px;
}
body{
    background: whitesmoke;
}
#first{
    background-color: aqua;
}
h1{
    color: darkgoldenrod;
    text-align: center;
}
p{
    color: lightsteelblue;
}
#bc{
    background-image: url('Must-Use-Top-Machine-Learning-Project-Ideas-for-2022.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    color: darkgoldenrod;
    background-attachment: scroll;
    backface-visibility: 50%;
    margin: 5px;
    margin-bottom:25px;
    border-radius: 30px;
    transition: 2s;
}
#bc:hover{
    border-radius: 20%;
}
.img:hover{
    background-image: url('mnist_pic.jpg');
    background-repeat: no-repeat;
    border: red;
    border-radius: 100px;
}
nav{
    color:lightsalmon;
    font-size: 40px;
}
#first{
    color: crimson;
    background: honeydew;
    background-color: honeydew;
    box-sizing: border-box;
    width: 100%;
    border: 3px solid cornflowerblue;
    border-radius: 9px;
    margin-bottom: 0px;
    padding: 10px;
    margin-right: 100px;
    position: relative;
    left: 72px;
    transition: 1s;
}
#first:hover{
    background-color: lightskyblue;
    border-radius: 100%;
    border: 2px solid darkblue;
}
#second{
    color: crimson;
    background:honeydew;
    box-sizing: border-box;
    border: 3px solid cornflowerblue;
    border-radius: 9px;
    padding: 10px;
    margin-right: 100px;
    position: relative;
    left: 334px;
}                                                        
.red{
    background-color: honeydew;
    color:crimson;
    box-sizing: content-box;
    border: 3px solid cornflowerblue;
    border-radius: 9px;
    margin-top: 5px;
    padding: 10px;
    margin-bottom: 5px;
    position: relative;
    left: 570px;
}
.copy{
    color: wheat;
    background: black;
    border:2px solid maroon;
    text-align: center;
    box-sizing: border-box;    
    margin-top: 100px;    
    padding:0px;    
    margin-top: 100px;    
    border-radius: 147px; 
}